{% extends "controls.html" %}


{% block body %}
<div class="offset-md-3"> 
<h3>Makaleler</h3>
<hr>
</div>
{% if articles %}

{% for article in articles  %}

<div class="row">
<div class="col-md-11 offset-md-3">
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
       <a href="/article/article/{{article.id}}"> <h3 class="mt-4">{{article.baslik}}</h3> </a>

        <!-- Author -->
        <p class="lead">
          
          Yazar: {{article.yazar.username}} 
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{article.olusturma_tarihi}}</p>

        <hr>


       

        <!-- Post Content -->
        <p class="lead">

            {{article.icerik}}
        
        </p>
        <hr>


      
          </div>
        </div>
</div>


{% endfor %}

{% else %}

<div class="alert alert-danger">
Bu blog boş.
</div>

{% endif %}


{% endblock body %}