{% extends "controls.html" %}

{% block body %}


<div style="margin-top :100px;" class="text-center">

        <h3>Hakkımda</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque temporibus vitae praesentium quae officia similique distinctio, minima molestiae commodi dignissimos dolorum. Possimus, repellendus doloremque? Repudiandae ratione natus quod eos nulla quam soluta praesentium iusto corrupti unde quos qui reprehenderit inventore, incidunt sed quia reiciendis amet suscipit veniam eveniet provident molestias saepe necessitatibus cumque? Assumenda fuga, minima commodi rem aliquid architecto officiis culpa accusamus id aliquam voluptas deleniti consequatur neque, necessitatibus ipsum corporis, mollitia qui! Laboriosam deleniti dolorum, ullam suscipit voluptatem explicabo tenetur magni? Blanditiis numquam, possimus maiores reprehenderit iste iusto minus debitis nesciunt, provident recusandae error molestiae. Sunt, error dolorem?</p>    
    </div>

{% endblock body %}